<div class="mainContainer centerPad mt-5">

<h3>Well done!</h3>

<h4 class = "m-2">Go and live your best life today. Remember to come back for your evening entry.</h4>

</div>


 <script>
         setTimeout(function(){
            window.location.href = `https://new-day-journal.herokuapp.com`;
         }, 4000);
</script>