<div class="mainContainer centerPad mt-5">

<h3>Well done!</h3>


<h4 class = "mt-2 ml-3 mr-3">Go and live your best life.</h4>
<h4 class = "ml-3 mr-3">Remember to come back for your evening entry.</h4>
</div>


 <script>
         setTimeout(function(){
            window.location.href = `https://new-day-journal.herokuapp.com`;
         }, 4000);
</script>