<div class="mainContainer centerPad">

<h2>You are done</h2>

<h3>Go and live your best life!</h3>

<p>See you later for your evening entry.</p>

</div>


 <script>
         setTimeout(function(){
            window.location.href = `http://localhost:3000`;
         }, 4000);
</script>