<div class="mainContainer centerPad mt-5">

<h3>Goodbye!</h3>

<h4> See you tomorrow. </h4>
<h4>Remember it's a New Day….</h4>

</div>


 <script>
         setTimeout(function(){
            window.location.href = `https://new-day-journal.herokuapp.com`;
         }, 4000);
</script>