<div class="mainContainer">

<p class="signH1">Sign Up</p>
<form action="/auth/sign-up" method="POST" enctype="multipart/form-data">

  <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your Name" />
  <br>

  <label for="input-email">Email</label>
  <input type="email" id="input-email" name="email" placeholder="Please enter your Email" />
  <br>

  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="Please enter a Strong Password" />
  <br>

  <label for="input-picture">Profile Picture</label>
  <input type="file" name="profile">
  <br>

<label for="location">Location</label>
  <input type="text" name="location" id="input-location" placeholder="Please write your country"/>
  
  <br>

  <label for="theme">Theme</label>
  <select name="theme" id="input-theme" placeholder="Choose theme">
  <option value="none">None</option>
  <option value="forest">Forest</option>
  <option value="ocean">Ocean</option>
  <option value="space">Space</option>
  <option value="pattern">Pattern</option>
  <option value="beach">Beach
  </option>
   </select>

<br>
 <button class="shortBtn">Sign Up</button>

  {{!-- <button class="btn">Sign Up</button> --}}
</form>

</div>

</div>

