<div class="mainContainer">

<h2>Check your email for a validation URL </h2>

<p>See you very soon for your first journal entry!</p>

  {{!-- <button type="button" class="btn btn-outline-primary btn-block"> --}}
  <a href ="/">Go Home</a>
  </button>

  </div>