<div class="single-post">

  <div class="transparent" style="width: 50rem;">
  <div class="transparent">

    <p class="card-text dailyAffirm">
      
      <em>Daily Affirmation: <br> {{this.affirmation}}</em>
      </p>
    <a class="postLink" href="/post/{{ this._id }}" class="card-link">View full entry</a>
    <br>
    <a class="postLink" href="/post/{{ this._id }}/edit" class="card-link">Complete evening entry <img src="/images/crescent-moon.png" width="15px" alt=""></a>
    <br>
    <small class="card-title">{{ this.createdAt }}</small>  
  </div>
</div>
</div>


