<div class="single-post">
  <div class="card" style="width: 50rem;">
  <div class="card-body">
    <p class="card-text"><em>Daily Affirmation: I am.... {{this.affirmation}}</em></p>
    <small class="card-title">{{ this.createdAt }}</small>
    <a href="/post/{{ this._id }}" class="card-link">View Journal Entry</a>
    <a href="/post/{{ this._id }}/edit" class="card-link">Add Evening Entry</a>
  </div>
</div>
</div>


