<div class="entryContainer">

<h2>Create a new entry</h2>

<form action="/post/create" method="POST">
  <label for="grateful">I am grateful for...</label>
  <textarea id ="grateful" name="grateful" maxlength="200" placeholder="Write here..." required></textarea>
  <label for="great">What would make today great?</label>
  <textarea id ="great1" name="great" maxlength="200" placeholder="Write here..." required></textarea>
  <label for="affirm">Daily affirmations. I am...</label>
  <textarea id ="affirm" name="affirmation" maxlength="100" placeholder="Daily affirmations. I am..." required></textarea>

 {{!-- hidden from user --}}
<textarea id ="location" name="location" maxlength="100" required>{{user.location}}</textarea>
 {{!-- hidden from user --}}

  <button class="shortBtn">Let's Go!</button>
</form>


</div>
