<div class="mainContainer">

<h2>Create your morning journal</h2>

<form action="/post/create" method="POST">
  <label for="grateful">I am grateful for...</label>
  <textarea id ="grateful" name="grateful" maxlength="200" placeholder="Write here..." required></textarea>
  <label for="great">What would make today great?</label>
  <textarea id ="great1" name="great" maxlength="200" placeholder="Write here..." required></textarea>
  <label for="affirm">Daily affirmation.</label>
  <textarea id ="affirm" name="affirmation" maxlength="100" placeholder="I am..." required>I am </textarea>

 {{!-- hidden from user --}}
<textarea class = "hidden" id ="location" name="location" maxlength="100" required>{{user.location}}</textarea>
 {{!-- hidden from user --}}

  <button class="shortBtn climb pb-3">Let's Go!</button>
</form>
</div>
