<div class="entryContainer">
<h2>Complete your evening journal</h2>
<form action="/post/{{ post._id }}/edit" method="POST">
  <label for="today">Amazing things that happened today...</label>
  <textarea id ="amazing" name="today" maxlength="200" placeholder="Write here..." required></textarea>
  <label for="better">How could I have made today even better?</label>
  <textarea id ="better" name="better" maxlength="200" placeholder="I could have..." required></textarea>
  <button class="sortBtn">I'm done</button>
</form>
</div>

