<div>

{{> nav}}
</div>

<div class="entryContainer pb-0 pt-0">


{{#with post}}
    {{> fullview}}
{{/with}}

</div>
 <form class = "mb-3" action="/post/delete/{{post.author._id}}/{{post._id}}" method="POST">
  <button type="submit" class="shortBtn mb-3 mt-auto">Delete</button>
</form>

<br>

{{!-- 
<form action="/" method="POST">
  <button type="submit" class="shortBtn">Delete</button>
</form>

<form action="/">


</form> --}}




