<div class="mainContainer mt-3">

  <h1 class ="mb-2">What's New Day?</h1>

<p class = "about-p">
‘New Day’ is based on the psychology behind the ‘5 Minute Journal’, created by UJ Ramdas and Alex Ikonn.
</p>

<p class ="about-p">
The structured process of answering 5 daily questions is designed to cultivate a positive mindset, encourage gratitude, redirect focus onto goals and encourage reflection on your day. 
</p>

<p class ="about-p">
The app is structured so you only spend a short amount of time writing in the journal. 
The goal is to not note every thought and feeling you have, but instead use it as a tool to start and end your day on a more positive note. 
</p>

<p class ="about-p">
Answer the questions, read the inspirational quote, and continue with your day. 
</p>

<p class ="about-p">
If you miss an entry, no problem.
</p>

<p class = "about-p"> Tomorrow is a New Day….</p>

  <a class="displayLink" href="auth/sign-in">Sign In</a> <a class="displayLink" href="auth/sign-up">Sign Up</a>

<div class = "review mb-5">
<h4>Reviews</h4>
<p class="font-italic">"This app has changed my life..." - Guilherme Carmona</p>
<p class="font-italic"> "This is the only way I can face the same questions EVERY dayyyy..." - Carla Mendes</p>
<p class="font-italic">"People always want to know the secret to my sunny disposition...it's this " - Paula Brinkhege</p>
<p class="font-italic ">"But what is it though???" - Leopoldo Calgaro</p>
</div>
</div>

