<div class="mainContainer">

  <div class="title"><h1>New Day</h1></div>
  <p> <span>The daily 5 minute journal you'll actually stick with.... </span></p>
{{!-- 
<button type="button" class="btn">
<a href= "/sign-in">Sign in</a>
<br>
<button type="button" class="btn"><a href = "/sign-up">Sign up</a></button>
<br> --}}

<div class="flex">
  <a href="/sign-in" class="bttn">Sign In</a>
  <br>
  <a href="/sign-up" class="bttn">Sign Up</a>
</div>

<br>

<div class="map-responsive">
<h2>---MAP HOLDER---</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49802.484128873606!2d-9.166855412692996!3d38.7257232247802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19339f0cf648e3%3A0xcc714e952cf3940d!2sBeta-i%20%7C%20Building%20the%20Innovation%20Ecosystem!5e0!3m2!1sen!2spt!4v1574723043840!5m2!1sen!2spt" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

</div>


</div>



