<div class="mainContainer mt-2">

  <h1>New Day</h1>

  <p class = "m-2">The daily 5 minute journal you'll actually stick with...</p>
<a class = "about" href="/about">About</a>
  <a href="auth/sign-in">Sign In</a>
  {{!-- Class given for margin  --}}
  <a class = "signup" href="auth/sign-up">Sign Up</a>

    <div class="affirm">
<p> <span>"{{result.affirmation}}"</span></p>
<button class = "refresh" value="Refresh Page" onClick="window.location.reload();"><img class ="refreshimg" src = "/images/continuous.png"></button>
    {{!-- <p class="affirmText2">"{{result.affirmation}}"</p> --}}

    {{!-- MAP --}}
    <div id="map"></div>
    {{!-- <p class="affirmText">Affirmation Inspiration: I am..</p> --}}
    </div>
    <div id = "locations"><p>{{result.location}}</p></div>

</div>




<script>
 let geocoder;
 let $location = document.getElementById('locations').innerText
 let city = $location

function initialize() 
{
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(53.3496, -6.3263);
  var mapOptions = 
  {
    zoom: 2,
    disableDefaultUI: true,
    scrollwheel: false, 
    center: latlng,

          styles: 
   [
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
              "color": "#779fa1"
                {{!-- "color": "#97b1a6" --}}
            },
            {
                "lightness": 50
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f5f5f5"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 29
            },
            {
                "weight": 0.2
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 18
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f5f5f5"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#dedede"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "off"
            },
            {
                "color": "#ffffff"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "elementType": "labels.text.fill",
        "stylers": [
         {
                "visibility": "off"
            },
            {
                "saturation": 36
            },
            {
                "color": "#333333"
            },
            {
                "lightness": 40
            }
        ]
    },
    {
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f2f2f2"
            },
            {
                "lightness": 19
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#fefefe"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#fefefe"
            },
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            }
        ]
    }
]


     //END MAP STYLE HERE!!! 
  }
  map = new google.maps.Map(document.getElementById('map'), mapOptions);
  codeAddress(city);
}

function codeAddress(address) 
{
  geocoder.geocode( {address:address}, function(results, status) 
  {
    if (status == google.maps.GeocoderStatus.OK) 
    {
      map.setCenter(results[0].geometry.location);//center the map over the result
      //place a marker at the location
      var marker = new google.maps.Marker(
      {
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
   }
  });
}
</script>
