<h1>New Day</h1>
<p>The daily 5 minute journal you'll actually stick with....</p>

<button type="button" class="btn btn-outline-primary btn-block"><a href = "/sign-in">Sign in</a></button>
<button type="button" class="btn btn-outline-secondary btn-block"><a href = "/sign-up">Sign up</a></button>
<br>
<h2>---MAP HOLDER---</h2>