<div class="mainContainer">

  <div class="title"><h1>New Day</h1></div>
  <p> <span></span>The daily 5 minute journal you'll actually stick with.... </span></p>
{{!-- 
<button type="button" class="btn">
<a href= "/sign-in">Sign in</a>
<br>
<button type="button" class="btn"><a href = "/sign-up">Sign up</a></button>
<br> --}}

  <a href="/sign-in">Sign In</a>
  <a href="/sign-up">Sign Up</a>
  <br>


<div class="map-responsive">
<h2>---MAP HOLDER---</h2>

</div>


</div>



