<div> 
{{>nav}}

<div class="entryContainer">

<h1>Edit Your Profile Picture</h1>

<form action="/{{user._id}}/edit/pic" method="POST" enctype="multipart/form-data">

<label for="input-picture">Edit Profile Picture</label>
<input type="file" name="profile">
<br>

<br>
  <button type="submit" class="shortBtn">Update</button>
</form>

</div>
</div>