<h1>Welcome to your profile page, {{user.name}}</h1> 
<img src= {{user.imgName}} >
<br>
{{#each posts}}
<br>
  <a href="/post/{{ this._id }}">view post</a>
   {{> singlepost}}
  <a href="/post/{{ this._id }}/edit">add evening remarks</a>
  <br>
{{/each}}
<br>

<button type="button" class="btn btn-outline-primary btn-block"><a href = "post/create">Create a Post</a></button>
