{{>nav}}
<br>
<div class="mainContainer">
  <img class="profileImg" src={{user.imgName}}>
  <h1 class="profileH1">Hey, {{user.name}}</h1> 
  {{!-- <img class="profileImg" src={{user.imgName}}> --}}
  <a href ="post/create">Write Journal</a></button>
  <a href ="{{user._id}}/edit/pic">Edit profile Pic</a></button>
</div>

  {{#each posts}}
      {{> singlepost}}
  {{/each}}

</div>

