<h1>Editing You Details</h1>

<form action="/{{user._id}}/edit" method="POST">

  <label for="input-name">Update Profile Image</label>

<br>
  <button type="submit" class="btn">Edit Information</button>
</form>



</div>
