<div>
  {{>nav}}
<br>

  <div class="profileContainer">

    <img class="profileImg" src={{user.imgName}}>
    <p class="profileH1">Hey, {{user.name}}</p> 
    <br>
    <a href ="post/create">Write Journal</a></button>
    <br> <br>
    {{#each posts}}
        {{> singlepost}}
        <br>
    {{/each}}
  </div>


</div>
