<div>
  {{>nav}}

  <div class="profileContainer pt-0">

    <img class="profileImg" src={{user.imgName}}>
    <p class="profileH1 mb-0">Hey, {{user.name}}</p> 
    <a class="underline" href ="post/create">Write Journal</a></button>
    <br> <br>
    {{#each posts}}
        {{> singlepost}}
        <br>
    {{/each}}
  </div>


</div>
