<h1>Editing profile view</h1>

<form action="/{{user._id}}/edit" method="POST" enctype="multipart/form-data">

  <label for="input-name">Update Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your Name" />
  <br>

 
  <label for="input-picture">Update Profile Picture</label>
  <input type="file" name="profile">
  <br>

<label for="location">Update Location</label>
  <input type="text" name="location" id="input-location" placeholder="Please write your country"/>
  
  <br>

  <label for="theme">Update Theme</label>
  <select name="theme" id="input-theme" placeholder="Choose theme">
  <option value="None">None</option>
  <option value="Forest">Forest</option>
  <option value="Ocean">Ocean</option>
  <option value="Space">Space</option>
  <option value="Pattern">Pattern</option>
  <option value="Beach">Beach
  </option>
   </select>

<br>
  <button type="submit" class="btn">Edit Information</button>
</form>



</div>
