<h1>Sign Up With Email</h1>  
<form action="/auth/sign-up" method="POST">
  <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your Name" />
  <label for="input-email">Email</label>
  <input type="email" id="input-email" name="email" placeholder="Your Email" />
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
  <label for="input-picture">Profile Picture</label>
  <input type="file" name="profile">
  <label for="theme">Theme</label>
  <select name="theme" id="input-theme" placeholder="Choose theme">
  <option value="Forest">Volvo</option>
  <option value="Ocean">Saab</option>
  <option value="Space">Mercedes</option>
  <option value="Pattern">Audi</option>
  <option value="Beach">Audi</option>
   </select>
  <button class="btn">Sign Up</button>
</form>