body {
  margin: auto;
  color: #3a3940;
  font-family: 'Poiret One', sans-serif;
  background: url('/images/6bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
}

//FONT SIZES
h1 {
  margin: 0 auto;
  font-size: 80px;
}

.profileH1 {
  font-family: 'Poiret One', sans-serif;
  font-size: 80px;
}

.signH1 {
  font-family: 'Poiret One', sans-serif;
  font-size: 100px;
}

.signH2 {
  font-family: 'Poiret One', sans-serif;
  font-size: 60px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 20px;
  color: #004445;
}

h5 {
  font-family: 'Athiti', sans-serif;
  font-size: 25px;
}

.night {
  color: white;
}

.dtext{
  color: #004445;
}

.affirmText {
  color: black;
  font-size: 20px;
  z-index: 1000;
  margin-top: -90px;
  // font-style: italic;
}

.underline {
  text-decoration-line: underline;
}

span {
  font-family: 'Oswald', sans-serif;
  color: #004445;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

#map {
  border-radius: 15px;
  margin: 0 auto;
  width: 70%;
  height: 300px;
  align-content: center;
  padding: 5px;
}

.signup {
  margin-bottom: 2%;
}

p {
  font-family: 'Athiti', sans-serif;
}

a {
  font-family: 'Athiti', sans-serif;
  font-size: 25px;
  text-decoration-style: none;
  color: #004445;
}

.signOut {
  font-family: 'Athiti', sans-serif;
  font-size: 25px;
  text-decoration-style: none;
  color: #004445;
}

.dailyAffirm {
  font-family: 'Athiti', sans-serif;
  font-size: 20px;
}

.profileH1 {
  font-size: 3em;
}

.postLink {
  font-size: 15px;
}

.displayLink {
  display: inline;
}
//INDEX PAGE

.mainContainer {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.entryContainer {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.profileContainer {
  padding: 30px;
  // display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.shortBtn {
  font-family: 'Athiti', sans-serif;
  font-size: 25px;
  text-decoration-style: none;
  color: #004445;
  border: none;
  text-align: center;
  background: transparent;
}

.about-p {
  margin-left: 10%;
  margin-right: 10%;
}

.review {
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  margin: 0 auto;
  font-family: 'Athiti', sans-serif;
}
// .tagline {
//   border-bottom: 5px solid#a59795;
// }

form {
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

//profile page
.single-post {
  display: flex;
  justify-content: center;
}

.profileImg {
  // width: 20%;
  // border-radius: 50%;
  width: 70px;
  height: 80px;
  webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin: 0 auto;
  webkit-background-size: cover;
  moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: no-repeat center center;
}

textarea {
  font-family: 'Athiti', sans-serif;
  color: black;
  font-size: 20px;
  font-style: italic;
  width: 350px;
  border: 1px solid #779fa1;
  background-color: rgba(255, 255, 255, 0.5);
}

input {
  background: transparent;
  font-family: 'Athiti', sans-serif;
  color: black;
  font-size: 20px;
  font-style: italic;
  margin: 0 auto;
  width: 300px;
  border: none;
  border-bottom: 2px solid #779fa1;
  text-align: center;
  // width: 400px;
}

label {
  font-family: 'Athiti', sans-serif;
}

.transparent {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

//SIGN OUT REDIRECTION
.centerPad {
  padding: 50 auto;
}

//QUOTE
.contain {
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  margin: none;
  width: 100%;
  // color: aliceblue;
}

.tag {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  padding: 20px;
  width: 100%;
  color: white;
  padding-top: 30%;
}

.quote-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quote-body {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  background-color: #ffffff85;
  color: #000;
}

.quote-auth {
  font-family: 'Oswald', sans-serif;
  background-color: #ffffff85;
  color: #000;
  width: 30%;
}

.nav-img {
  width: 25px;
  margin: 5px;
}

#locations {
  color: #004445;
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

//BUTTON
//create page hiding location
// #locations{
//   visibility: hidden;
// }

// .affirm {
//   font-family: 'Oswald', sans-serif;
//   font-size: 10px;
//   z-index: 1000;
//   margin-bottom: -60px;
//   padding: 0 20%;
// }

.hidden {
  visibility: hidden;
}

// .location{
//   margin-top:-30px
// }

//I have hidden a box with location so this pulls something over it

.climb {
  margin-top: -40px;
}

.day{
background-color: rgba(0, 68, 69, 0.1);
border-radius: 10px;
}

.eve{
background-color: rgba(0, 68, 69, 0.5);
border-radius: 10px;
color: white;
}