body {
  margin: auto;
  color: #3a3940;
  font-family: 'Poiret One', sans-serif;
  background: url('/images/6bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//FONT SIZES
h1 {
  margin: 0 auto;
  width: 7em;
  display: inline-block;
  border-top: 1px solid black;
  padding-top: 0px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  font-size: 80px;
}

.profileH1 {
  font-family: 'Poiret One', sans-serif;
  font-size: 80px;
}

.signH1 {
  font-family: 'Poiret One', sans-serif;
  font-size: 100px;
}

.signH2 {
  font-family: 'Poiret One', sans-serif;
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 20px;
  color: #004445;
}

h5 {
  font-family: 'Athiti', sans-serif;
  font-size: 15px;
}

#map {
  border-radius: 15px;
  margin: 0 auto;
  width: 70%;
  height: 300px;
  align-content: center;
  padding: 10px;
}

.signup{
  margin-bottom: 2%;

}

p {
  font-family: 'Athiti', sans-serif;
}

a {
  font-family: 'Athiti', sans-serif;
  font-size: 25px;
  text-decoration-style: none;
  color: #004445;
}

.dailyAffirm {
  font-family: 'Athiti', sans-serif;
  font-size: 20px;
}

.profileH1 {
  font-size: 3em;
}

.postLink {
  font-size: 15px;
}

//INDEX PAGE

.mainContainer {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.entryContainer {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.shortBtn {
  font-family: 'Athiti', sans-serif;
  font-size: 25px;
  text-decoration-style: none;
  color: #004445;
  border: none;
  text-align: center;
  background: transparent;
}

.navBtn {
  border: none;
}

.tagline {
  border-bottom: 5px solid#a59795;
}

form {
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

//profile page
.single-post {
  display: flex;
  justify-content: center;
}

.profileImg {
  width: 2em;
  padding-bottom: 1em;
  margin: 0 auto;
}

textarea {
  font-family: 'Athiti', sans-serif;
  color: black;
  font-size: 20px;
  font-style: italic;
  border: 1px solid #779fa1;
}

input {
  background: transparent;
  font-family: 'Athiti', sans-serif;
  color: black;
  font-size: 20px;
  font-style: italic;
  margin: 0 auto;
  width: 300px;
  border: none;
  border-bottom: 2px solid #779fa1;
  text-align: center;
  // width: 400px;
}

.transparent {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

//SIGN OUT REDIRECTION
.centerPad {
  padding: 50 auto;
}

//QUOTE
.contain {
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  margin: none;
  // color: aliceblue;
}

.tag {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  padding: 20px;
  width: 100%;
  color: white;
  padding-top: 30%;
}

.quote-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quote-body {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
}

.quote-auth {
  font-family: 'Oswald', sans-serif;
}

.navbarContainer {
  margin-top: 10px;
}
//BUTTON
//create page hiding location
// #locations{
//   visibility: hidden;
// }
.affirm {
  font-family: 'Poiret One', sans-serif;
  font-size: 20px;
  z-index: 1000;
  margin-bottom: -80px;
  padding: 0 20%;
}
